.order {
    position: relative;
    .order-slide {
        background-image: url('../../img/banner_image.jpg');
        padding-top: 35%;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
        h1 {
            font-size: 70px;
            color: #fff;
            font-weight: 500;
            position:absolute; 
            top:50%; 
            left:50%; 
            transform:translate(-50%, -50%); 
            width:50%;
            right: 0;
        }
    }

    .signature-dish {
        margin: 100px auto;
        max-width: 1100px;
        .signature-dish-container{
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .signature-dish-image{
                width: 48%;
                position: relative;
                overflow: hidden;
                border-radius: 10px;
                img {
                    border-radius: 10px;
                    transition: all 0.5s ease;
                    width: 100%;
                }

                img:hover {
                    transform: scale(1.1);
                }
                .intro-discount {
                    position: absolute;
                    background-color: #b6835a;
                    color: #fff;
                    top: 10px;
                    left: 10px;
                    padding: 20px 10px;
                    border-radius: 50%;
                }
            }
            .signature-dish-image::before {
                content: '';
                position: absolute;
                width: 30%;
                height: 100%;
                top: 0px;
                left: -50%;
                z-index: 100;
                background-color: rgba(white , 0.7);
                }
        
            .signature-dish-image:hover::before{
                transition: all 1s ease;
                left: 100%;
            }
            .signature-dish-order {
                width: 48%;
                h1 {
                    font-family: 'ZCOOL XiaoWei', serif;
                    font-size: 50px;
                    font-weight: 500;
                }
                h4 {
                    display: inline-block;
                    margin-top: 10px;
                    color: #b6835a;
                    font-weight: 500;
                    font-size: 23px;
                }
                h5 {
                    display: inline-block;
                    margin-top: 10px;
                    color: #b6835a;
                    font-weight: 500;
                    font-size: 23px;
                    margin-left: 1px;
                }
                p {
                    font-size: 18px;
                    margin-top: 30px;
                    color: #666666;
                    line-height: 23px;
                }
                form {
                    margin-top: 47px;
                    display: flex;
                    align-items: center;
                    input {
                        width: 25%;
                        height: 45px;
                        color: #666666;
                        padding: 0px 20px;
                        outline: none;
                        margin-right: 5px;
                    }

                    .onsubmit {
                        width: 40%;
                        height: 45px;
                        background-color: #b6835a;
                        outline: none;
                        font-size: 19px;
                        color: #fff;
                        border: none;
                        text-align: center;
                        line-height: 45px;
                    }

                    .onsubmit:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .intro-dish {
            display: flex;
            height: 40px;
            margin-top: 30px;
            .describe,
            .evaluate {
                font-size: 20px;
                color: #515151;
                padding: 0px 30px;
                border: 1px solid #ececec;
                line-height: 40px;
                border-radius: 5px;
                background-color: #f9f9f9;
            }
            .describe {
                border-left: none;
            }
            .outline {
                width: calc(100% - 293px);
                border-bottom: 1px solid #ececec;
            }
            .describe,
            .evaluate:hover {
                cursor: pointer;
            }
        }
        .intro-describe {
            h3 {
                font-family: 'ZCOOL XiaoWei', serif;
                font-size: 25px;
                font-weight: 500;
                color: #515151;
                margin-top: 30px;
            }
            p {
                font-size: 18px;
                font-weight: 500;
                color: #515151;
                margin-top: 30px;
                line-height: 23px;
                margin-bottom: 30px;
            }
        }
        .intro-evaluate {
            h3 {
                font-family: 'ZCOOL XiaoWei', serif;
                font-size: 25px;
                font-weight: 500;
                color: #515151;
                margin-top: 30px;
            }
            p {
                font-size: 18px;
                font-weight: 500;
                color: #515151;
                margin-top: 30px;
                line-height: 23px;
                margin-bottom: 20px;
            }
            span {
                h4 {
                    font-size: 18px;
                    font-weight: 500;
                    color: #515151;
                }
            }
            form {
                margin-top: 20px;
                margin-bottom: 30px;
                label {
                    display: block;
                    font-size: 18px;
                    color: #515151;
                }
                input {
                    height: 40px;
                    width: 30%;
                    font-size: 18px;
                    outline: none;
                    color: #515151;
                    margin-bottom: 10px;
                }
                textarea {
                    width: 100%;
                    height: 100px;
                    outline: none;
                    font-size: 18px;
                    color: #515151;
                }

                button {
                    height: 40px;
                    width: 10%;
                    margin-top: 10px;
                    font-size: 17px;
                    color: #fff;
                    background-color: #b6835a;
                    border: none;
                }
                button:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .similar-product {
        margin: 0 auto;
        max-width: 1100px;
        margin-bottom: 30px;
        h2 {
            font-family: 'ZCOOL XiaoWei', serif;
            font-size: 30px;
            font-weight: 500;
            color: #515151;
        }
        .similar-product-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            a {
                width: 21%;
                padding: 20px 0px;
                text-align: center;
                .food-product-item {
                    margin-top: 20px;
                    overflow: hidden;
                    .food-item-image {
                        overflow: hidden;
                        position: relative;
                        img {
                            width: 100%;
                            transition: all 0.5s ease;
                        }
        
                        img:hover {
                            transform: scale(1.1);
                        }
                        .intro-discount {
                            position: absolute;
                            padding: 5px 10px;
                            background-color: #bc906b;
                            color: #fff;
                            font-size: 15px;
                            font-weight: 700;
                            z-index: 1;
                            top: 0;
                            right: 0;
                        }
                    }
                }
            }
            a:hover {
                cursor: pointer;
                box-shadow:  0px 10px 5px rgb(240, 240, 240);
            }
            a:hover .add-product {
                transition: all 0.5s ease;
                left: 0;
            }
            .food-item-intro {
                h3 {
                    font-family: 'ZCOOL XiaoWei', serif;
                    font-size: 22px;
                    font-weight: 500;
                    margin-top: 5px;
                }
    
                h4 {
                    display: inline-block;
                    color: #b6835a;
                    margin-top: 5px;
                }
    
                h5 {
                    display: inline-block;
                    color: #b6835a;
                    font-size: 16px;
                    margin-left: 5px;
                    text-decoration: underline;
                    margin-top: 5px;
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .order {
        position: relative;
        .order-slide {
            background-image: url('../../img/banner_image.jpg');
            padding-top: 45%;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            position: relative;
            h1 {
                font-size: 70px;
                color: #fff;
                font-weight: 500;
                position:absolute; 
                top:50%; 
                left:50%; 
                transform:translate(-50%, -50%); 
                width:90%;
                right: 0;
            }
        }
    
        .signature-dish {
            margin: 100px auto;
            max-width: none;
            .signature-dish-container{
                width: 90%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                .signature-dish-image{
                    width: 48%;
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    img {
                        border-radius: 10px;
                        transition: all 0.5s ease;
                        width: 100%;
                    }
    
                    img:hover {
                        transform: scale(1.1);
                    }
                    .intro-discount {
                        position: absolute;
                        background-color: #b6835a;
                        color: #fff;
                        top: 10px;
                        left: 10px;
                        padding: 20px 10px;
                        border-radius: 50%;
                    }
                }
                .signature-dish-image::before {
                    content: '';
                    position: absolute;
                    width: 30%;
                    height: 100%;
                    top: 0px;
                    left: -50%;
                    z-index: 100;
                    background-color: rgba(white , 0.7);
                    }
            
                .signature-dish-image:hover::before{
                    transition: all 1s ease;
                    left: 100%;
                }
                .signature-dish-order {
                    width: 48%;
                    h1 {
                        font-family: 'ZCOOL XiaoWei', serif;
                        font-size: 40px;
                        font-weight: 500;
                    }
                    h4 {
                        display: inline-block;
                        margin-top: 10px;
                        color: #b6835a;
                        font-weight: 500;
                        font-size: 20px;
                    }
                    h5 {
                        display: inline-block;
                        margin-top: 10px;
                        color: #b6835a;
                        font-weight: 500;
                        font-size: 20px;
                        margin-left: 1px;
                    }
                    p {
                        font-size: 17px;
                        margin-top: 30px;
                        color: #666666;
                        line-height: 23px;
                    }
                    form {
                        margin-top: 47px;
                        display: flex;
                        align-items: center;
                        input {
                            width: 25%;
                            height: 45px;
                            color: #666666;
                            padding: 0px 20px;
                            outline: none;
                            margin-right: 5px;
                        }
    
                        .onsubmit {
                            width: 60%;
                            height: 45px;
                            background-color: #b6835a;
                            outline: none;
                            font-size: 19px;
                            color: #fff;
                            border: none;
                            text-align: center;
                            line-height: 45px;
                        }
    
                        .onsubmit:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .intro-dish {
                display: flex;
                height: 40px;
                width: 90%;
                margin: 30px auto;
                .describe,
                .evaluate {
                    font-size: 20px;
                    color: #515151;
                    padding: 0px 30px;
                    border: 1px solid #ececec;
                    line-height: 40px;
                    border-radius: 5px;
                    background-color: #f9f9f9;
                }
                .describe {
                    border-left: none;
                }
                .outline {
                    width: calc(100% - 293px);
                    border-bottom: 1px solid #ececec;
                }
                .describe,
                .evaluate:hover {
                    cursor: pointer;
                }
            }
            .intro-describe {
                width: 90%;
                margin: 0 auto;
                h3 {
                    font-family: 'ZCOOL XiaoWei', serif;
                    font-size: 23px;
                    font-weight: 500;
                    color: #515151;
                    margin-top: 30px;
                }
                p {
                    font-size: 17px;
                    font-weight: 500;
                    color: #515151;
                    margin-top: 30px;
                    line-height: 23px;
                    margin-bottom: 30px;
                }
            }
            .intro-evaluate {
                width: 90%;
                margin: 0 auto;
                h3 {
                    font-family: 'ZCOOL XiaoWei', serif;
                    font-size: 25px;
                    font-weight: 500;
                    color: #515151;
                    margin-top: 30px;
                }
                p {
                    font-size: 18px;
                    font-weight: 500;
                    color: #515151;
                    margin-top: 10px;
                    line-height: 23px;
                    margin-bottom: 20px;
                }
                span {
                    h4 {
                        font-size: 18px;
                        font-weight: 500;
                        color: #515151;
                    }
                }
                form {
                    margin-top: 20px;
                    margin-bottom: 30px;
                    label {
                        display: block;
                        font-size: 18px;
                        color: #515151;
                    }
                    input {
                        height: 40px;
                        width: 30%;
                        font-size: 18px;
                        outline: none;
                        color: #515151;
                        margin-bottom: 10px;
                    }
                    textarea {
                        width: 100%;
                        height: 100px;
                        outline: none;
                        font-size: 18px;
                        color: #515151;
                    }
    
                    button {
                        height: 40px;
                        width: 20%;
                        margin-top: 10px;
                        font-size: 17px;
                        color: #fff;
                        background-color: #b6835a;
                        border: none;
                    }
                    button:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .similar-product {
            margin: 0 auto;
            max-width: none;
            width: 90%;
            margin-bottom: 30px;
            h2 {
                font-family: 'ZCOOL XiaoWei', serif;
                font-size: 30px;
                font-weight: 500;
                color: #515151;
            }
            .similar-product-container {
                width: 100%;
                display: flex;
                justify-content: space-between;
                a {
                    width: 21%;
                    padding: 20px 0px;
                    text-align: center;
                    .food-product-item {
                        margin-top: 20px;
                        overflow: hidden;
                        .food-item-image {
                            overflow: hidden;
                            position: relative;
                            border-radius: 10px;
                            img {
                                border-radius: 10px;
                                width: 100%;
                                transition: all 0.5s ease;
                            }
            
                            img:hover {
                                transform: scale(1.1);
                            }
                            .intro-discount {
                                position: absolute;
                                padding: 5px 10px;
                                background-color: #bc906b;
                                color: #fff;
                                font-size: 15px;
                                font-weight: 700;
                                z-index: 1;
                                top: 0;
                                right: 0;
                            }
                        }
                    }
                }
                a:hover {
                    cursor: pointer;
                    box-shadow:  0px 10px 5px rgb(240, 240, 240);
                }
                a:hover .add-product {
                    transition: all 0.5s ease;
                    left: 0;
                }
                .food-item-intro {
                    h3 {
                        font-family: 'ZCOOL XiaoWei', serif;
                        font-size: 20px;
                        font-weight: 500;
                        margin-top: 5px;
                    }
        
                    h4 {
                        display: inline-block;
                        color: #b6835a;
                        margin-top: 5px;
                    }
        
                    h5 {
                        display: inline-block;
                        color: #b6835a;
                        font-size: 14px;
                        margin-left: 5px;
                        text-decoration: underline;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}
@media (max-width:740px) {
    .order {
        position: relative;
        .order-slide {
            background-image: url('../../img/banner_image.jpg');
            padding-top: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            position: relative;
            h1 {
                font-size: 40px;
                color: #fff;
                font-weight: 500;
                position:absolute; 
                top:50%; 
                left:50%; 
                transform:translate(-50%, -50%); 
                width:50%;
                right: 0;
            }
        }
    
        .signature-dish {
            margin: 100px auto;
            max-width: 1100px;
            .signature-dish-container{
                max-width: none;
                margin: 0 auto;
                display: inherit;
                justify-content: space-between;
                .signature-dish-image{
                    width: 80%;
                    margin: 0 auto;
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    img {
                        transition: all 0.5s ease;
                        border-radius: 10px;
                        width: 100%;
                    }

                    img:hover {
                        transform: scale(1.1);
                    }
                    .intro-discount {
                        position: absolute;
                        background-color: #b6835a;
                        color: #fff;
                        top: 10px;
                        left: 10px;
                        padding: 20px 10px;
                        border-radius: 50%;
                    }
                }
                .signature-dish-order {
                    width: 80%;
                    margin: 30px auto;
                    h1 {
                        font-family: 'ZCOOL XiaoWei', serif;
                        font-size: 35px;
                        font-weight: 500;
                    }
                    h4 {
                        display: inline-block;
                        margin-top: 10px;
                        color: #b6835a;
                        font-weight: 500;
                        font-size: 23px;
                    }
                    h5 {
                        display: inline-block;
                        margin-top: 10px;
                        color: #b6835a;
                        font-weight: 500;
                        font-size: 23px;
                        margin-left: 1px;
                    }
                    p {
                        font-size: 18px;
                        margin-top: 30px;
                        color: #666666;
                        line-height: 23px;
                    }
                    form {
                        margin-top: 47px;
                        display: flex;
                        align-items: center;
                        input {
                            width: 25%;
                            height: 45px;
                            color: #666666;
                            padding: 0px 20px;
                            outline: none;
                            margin-right: 5px;
                        }
    
                        .onsubmit {
                            width: 40%;
                            height: 45px;
                            background-color: #b6835a;
                            outline: none;
                            font-size: 19px;
                            color: #fff;
                            border: none;
                            text-align: center;
                            line-height: 45px;
                        }
    
                        .onsubmit:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .intro-dish {
                display: flex;
                height: 40px;
                width: 90%;
                margin: 30px auto;
                .describe,
                .evaluate {
                    font-size: 20px;
                    color: #515151;
                    padding: 0px 30px;
                    border: 1px solid #ececec;
                    line-height: 40px;
                    border-radius: 5px;
                    background-color: #f9f9f9;
                }
                .describe {
                    border-left: none;
                }
                .outline {
                    width: calc(100% - 293px);
                    border-bottom: 1px solid #ececec;
                }
                .describe,
                .evaluate:hover {
                    cursor: pointer;
                }
            }
            .intro-describe {
                width: 80%;
                margin: 0 auto;
                h3 {
                    font-family: 'ZCOOL XiaoWei', serif;
                    font-size: 25px;
                    font-weight: 500;
                    color: #515151;
                    margin-top: 30px;
                }
                p {
                    font-size: 18px;
                    font-weight: 500;
                    color: #515151;
                    margin-top: 30px;
                    line-height: 23px;
                    margin-bottom: 30px;
                }
            }
            .intro-evaluate {
                margin: 0 auto;
                width: 80%;
                h3 {
                    font-family: 'ZCOOL XiaoWei', serif;
                    font-size: 25px;
                    font-weight: 500;
                    color: #515151;
                    margin-top: 30px;
                }
                p {
                    font-size: 18px;
                    font-weight: 500;
                    color: #515151;
                    margin-top: 30px;
                    line-height: 23px;
                    margin-bottom: 20px;
                }
                span {
                    h4 {
                        font-size: 18px;
                        font-weight: 500;
                        color: #515151;
                    }
                }
                form {
                    margin-top: 20px;
                    margin-bottom: 30px;
                    label {
                        display: block;
                        font-size: 18px;
                        color: #515151;
                    }
                    input {
                        height: 40px;
                        width: 30%;
                        font-size: 18px;
                        outline: none;
                        color: #515151;
                        margin-bottom: 10px;
                    }
                    textarea {
                        width: 100%;
                        height: 100px;
                        outline: none;
                        font-size: 18px;
                        color: #515151;
                    }
    
                    button {
                        height: 40px;
                        width: 20%;
                        margin-top: 10px;
                        font-size: 17px;
                        color: #fff;
                        background-color: #b6835a;
                        border: none;
                    }
                    button:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .similar-product {
            margin: 0 auto;
            max-width: 1100px;
            margin-bottom: 30px;
            h2 {
                font-family: 'ZCOOL XiaoWei', serif;
                font-size: 27px;
                font-weight: 500;
                color: #515151;
            }
            .similar-product-container {
                width: 80%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                a {
                    width: 45%;
                    padding: 20px 0px;
                    text-align: center;
                    .food-product-item {
                        margin-top: 20px;
                        overflow: hidden;
                        .food-item-image {
                            overflow: hidden;
                            position: relative;
                            img {
                                width: 100%;
                                transition: all 0.5s ease;
                            }
            
                            img:hover {
                                transform: scale(1.1);
                            }
                            .intro-discount {
                                position: absolute;
                                padding: 5px 10px;
                                background-color: #bc906b;
                                color: #fff;
                                font-size: 15px;
                                font-weight: 700;
                                z-index: 1;
                                top: 0;
                                right: 0;
                            }
                        }
                    }
                }
                a:hover {
                    cursor: pointer;
                    box-shadow:  0px 10px 5px rgb(240, 240, 240);
                }
                a:hover .add-product {
                    transition: all 0.5s ease;
                    left: 0;
                }
                .food-item-intro {
                    h3 {
                        font-family: 'ZCOOL XiaoWei', serif;
                        font-size: 18px;
                        font-weight: 500;
                        margin-top: 5px;
                    }
        
                    h4 {
                        display: inline-block;
                        color: #b6835a;
                        margin-top: 5px;
                    }
        
                    h5 {
                        display: inline-block;
                        color: #b6835a;
                        font-size: 14px;
                        margin-left: 5px;
                        text-decoration: underline;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}